@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/roboto-black.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../fonts/roboto-thin.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/roboto-medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/roboto-regular.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: RobotoBlack;
}

body {
    margin: 0;
    padding: 0;
    height:auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:#3e4349;
}

.container-fluid.pages {
    padding: 0;
}

.main-container {
    margin-top: 20vh;
    text-align: center;
    color: white;
}

.main-container > h2 {
    font-family: RobotoThin;
    font-size: calc(4.534em + 5.5%);
    margin-bottom: 0.2em;
    padding: 2% 5% 2%;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.03);
    filter: blur(0px);
}


.for-whom, .what-gets {
    background: #fff;
}

.main-container > p {
    font-family: RobotoThin;
    font-size: 1.5669em;
    padding: 0 4% 3%;
    color:rgba(255, 255, 255, 0.65);
}


.link {
    padding: .3em 1.3em;
    border-radius: 0.2em;
    outline: none;
    border: none;
    font-size: 1.8em;
    position: relative;
    background: #d54e5b;
    font-family: RobotoThin;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 250ms ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.21);
}

.link:hover:before {
    top: 80%;
}

.link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.5215686274509804);
    left: 0;
    top: 100%;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    opacity: 0.35;
    z-index: 1;
    transition: all 250ms ease;
    bottom: 0;
}

.link > span {
    z-index: 1;
    opacity: 1;
}

.link:hover {
    background: #ef425b;
}


.link:active {
    background: #f60a0a;
}

.menu-item.register:hover {
    background: #e31616;
}

.menu-item.register:active {
    background: #ee0808;
}

/*.scroll-part .row{
	text-align:center;
	}*/
h2.title {
    text-align: center;
    margin: 0;
    font-size: 2.3vmax;
    padding: 12% 0 2.8579% 0;
    color: #3a2e7f;
}

.for-whom .row.content > div > img {
    margin: 0 auto;
}

.viewed div.left-to-right {
    opacity: 1;
    transform: translateX(0em);
}

div.left-to-right {
    text-align: center;
    opacity: 0;
    transform: translateX(-100em);
}

.viewed div.bottom-to-top {
    opacity: 1;
    transform: translateY(0em);
}

div.bottom-to-top {
    text-align: center;
    opacity: 0;
    transform: translateY(100em);
}

div.left-to-right:nth-child(1), div.bottom-to-top:nth-child(3) {
    transition: all 2.4s ease;
}

div.left-to-right:nth-child(2), div.bottom-to-top:nth-child(2) {
    transition: all 1.6s ease;
}

div.left-to-right:nth-child(3), div.bottom-to-top:nth-child(1) {
    transition: all .8s ease;
}

.what-included .row.content > div:hover {
    transition: transform .3s ease-in;
    box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.21);
    transform: scale(1.1, 1.1);
}

h1.title {
    font-size: 165%;
    text-transform: uppercase;
    text-align: center;
}

h1.basic-information {
    font-size: 155%;
    font-family: RobotoRegular;
    text-transform: uppercase;
    text-align: left;
    /* color: #666666; */
}

h1.basic-information > span.lastname {
    font-weight: bold;
    font-family: RobotoBlack;
    font-size: 180%;
    display: block;
}

h1.basic-information > span.employee-position {
    font-size: 60%;
    line-height: 5em;
}

.what-included h1.title {
    font-size: 1.3918em;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 5%; */
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    line-height: 2em;
    color: #575757;
}

.speaker-info {
    /* margin: 0 1%; */
    color: #666666;
}

.speaker-info > .card {
    float: left;
}

.speaker-info > .full-info {
    float: right;
}

.full-info li {
    font-family: RobotoRegular;
    line-height: 2em;
    font-size: 117%;
}

p.description {
    font-family: RobotoRegular;
    font-size: 120%;
    padding-top: 2.12332vh;
}

.line-height100 {
    line-height: 100% !important;
}

.what-included .row.content > div {
    box-shadow: 0 0 1.7em rgba(0, 0, 0, 0.12);
    padding: 0;
    /* max-width: 30%; */
    margin-left: 4.1%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    max-width: 25%;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

button.down-arrow-button {
    border-radius: 30em;
    border: none;
    outline: none;
    /* position: absolute; */
    display: block;
    /* left: 42%; */
    margin: 0 auto !important;
    transform: translateY(46.8321112%);
    /* right: auto; */
    /* bottom: -7%; */
    width: 3.33em;
    height: 3.33em;
    background: #7c3fff;
    box-shadow: 0 0 2em #7c3fff;
}

button.down-arrow-button:hover {
    background: #6c28ff;
    box-shadow: 0 0 3em #6822ff;
}

button.down-arrow-button:active {
    background: #580aff;
}

button.down-arrow-button > svg {
    /* height: 100%; */
    width: 67%;
    padding-top: 15%;
}

img.img-responsive {
    margin: 0 auto;
}

.full-height-page {
    /* min-height: 100%; */
    /* height: auto !important; */
    /* padding-bottom: 5%; */
}

.what-gets .row > div {
    padding: 0 5%;
}

img.card-photo {
    max-width: 90%;
}

.social-networks > img {
    display: inline-block;
    margin: 4% 3% 0 0;
    transition: all .3s ease;
}

.company-info > h2.title {
    padding-top: 0;
    color: #d32f2f;
}

.row.content.speaker-info {
    transform: translateY(35em);
    opacity: 0;
    transition: all .8s ease-out;
}

.viewed .row.content.speaker-info {
    transform: translateY(0em);
    opacity: 1;
}

.social-networks > img:hover {
    box-shadow: 0 8px 0.5em rgba(0, 0, 0, 0.25);
    background-color: #5f53a4;
    border-radius: .2em;
    transform: translateY(-0.1em);
}

.header.opened {
    height: 100% !important;
    z-index: 99;
    background-color: #ffffff;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

    .menu > .menu-item {
        font-size: 1.1vmax;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

    @media only screen and (max-height: 414px) {
        .header {
            height: 18vh;
        }

        .main-container > h2 {
            font-size: 2.114em;
            padding: 5.143% 2% 1% 2%;
        }

        .main-container > p {
            font-size: 1.1069em;
            padding: 3% 9% 4vh;
            margin: 0;
            min-height: 25vh;
        }

        .link {
            padding: .6em 2.3em;
        }
    }
    .what-included .row.content > div {
        max-width: 90%;
        /* max-height: 90%; */
        transform: scale(1, 1) !important;
        margin-bottom: 7%;
    }

    .logo {
        background-size: contain !important;
    }

    h2.title {
        padding: 15vh 0 5% 0;
    }

    .header.full-show {
        height: 15vh;
    }

    .header:not(.opened) .menu {
        display: none;
    }

    .show-menu {
        display: block !important;
        /* margin-left: auto; */
    }

    .what-gets .row > div {
        padding: 1% 7%;
    }

}

section.course-info, section.who-conduct {
    box-shadow: none;
}

.company-info .description {
    font-family: RobotoRegular;
    /* text-align: left; */
    /* max-width: 50%; */
    /* line-height: 2em; */
    /* padding: 8% 0; */
    /* word-wrap: initial; */
    white-space: pre-line;
}

.video-container video.fillWidth {
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    position: absolute;
    z-index: -1;
}

.video-container .filter {
    z-index: 100;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

#background-video {
    position: fixed;
    transform: scale(1,1.05);
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: contrast(120%);
    background-size: 100% 100%;
    object-fit: cover; /*cover video background */
    z-index: -1;
}
.background-gif {
    position: fixed;
    transform: scale(1,1.07);
    bottom: 0;
    top: -30px;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    object-fit: cover;
    z-index: -1;
    background: url(../video/background1.gif);
    background-size: cover;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .header.full-show .logo {
        background-size: contain;
    }

    .header.full-show {
        height: 60px;
    }

    .header {
        height: 78px;
    }

    .menu {
        display: none;
    }

    .main-container {
        /* margin-top: 25%; */
    }

    .main-container > h2 {
        font-size: 2em;
        padding: 9.143% 5%;
        text-transform: uppercase;
    }

    .main-container > p {
        font-size: 1.3669em;
        padding: 0 4% 6%;
    }

    h2.title {
        font-size: 6vmax;
        word-wrap: break-word;
        padding-top: 20%;
        padding-left: 5%;
        word-break: break-word;
        padding-right: 5%;
    }

    .for-whom {
        height: 100% !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .main-container {
        padding: 0 0;
    }

    .main-container > h2 {
        font-size: 1.8em;
        padding: 9.143% 0;
    }

    .main-container > p {
        font-size: 1.3669em;
        padding: 0 2% 6%;
    }

    .logo {
        width: 45vw;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    /*.header{*/
    /* width:1140px; */
    /*}*/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    /*.header{*/
    /* width: 528px; */
    /*}*/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    /*.header{*/
    /* width: 768px; */
    /*}*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    /*.header{*/
    /* width:800px; */
    /*}*/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    /*.header{*/
    /* width:1140px; */
    /*}*/
    .what-included .row.content > div {
        /* max-width: 25%; */
    }
}

@media only screen and (max-width: 1476px) {
    #background-video{
        transform: scale(1,1.12);
    }
}
@media only screen and (max-width: 1400px) {
    .background-gif{
        transform: scale(1,1.12);
        top: -2px;
    }
}
