*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

button {
  outline: none;
}

/*************************************************************
  HEADER
**************************************************************/
header {
  position: relative;
  min-height: 105vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

header .parallax-background {
  background-image: url(assets/wintersforest2_3.jpg);
  background-position-y: bottom;
  /* transform: scale(1.3); */
}

.parallax-background {
  background-position: top center;
  background-size: cover;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(-1px) scale(2.1);
  z-index: -1;
}

/*************************************************************
    SECTIONS
  **************************************************************/
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  position: relative;
  transform-style: inherit;
}

section .title {
  position: absolute;
  top: -8%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  z-index: 100000;
}
section .title.dark {
  color: #565656;
}

section .title.bottom-aligned {
  top: auto;
  bottom: 2%;
}

.section1 {
  background: #fafafa;
  box-shadow: 0 0 20px #333;
  z-index: 1;
}

.section2 .parallax-background {
  background-image: url(https://picsum.photos/g/1920/1080?random);
}

.header-content {
  z-index: 2222;
  left: 40%;
  top: 40%;
  position: fixed;
  font-size: 2.5vmax;
  letter-spacing: 1.5px;
  color: #fff;
  transform: translate(-40%, -40%);
}


.position, .fullname{
  font-weight: bold;
}

.fullname{
  margin-bottom: 10px;
  font-size: 2.2em;
  display: block;
}
.position{
  background: #b74e4e;
  padding: 0 14px;
  font-size: 1.5em;
}